parameters:
    level: 5
    paths:
        - .
    excludePaths:
        - vendor
        - node_modules
        - scraping
        - tests
    ignoreErrors:
        - '#Undefined variable: \$_SESSION#'
        - '#Undefined variable: \$mysqli#'
    checkMissingIterableValueType: false
