@font-face {
  font-family: 'fontawesome';
  src: url("fonts/fontawesome-webfont.woff2");
  font-display: block;
}
@font-face {
    font-family: 'Gheop';
    src: url('fonts/gheop-light.woff2');
    font-weight: normal;
    font-style: normal;
}
/* http://fontstore.baidu.com/static/editor/index-en.html# pour éditer les fonts, top ! */

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}



ul{
    list-style: none;
}

li > input {
  border: none;
  background: transparent;
  font-weight: bold;
}
.icon{
    font: normal 100%/1.15 fontawesome;
    color: #eee;
}
li {
  font: normal 100%/1 fontawesome;
}
body {
       font-family: fontawesome;
       line-height: 1.3em;
       font-weight: 400;
       font-feature-settings: "kern";
       word-wrap: break-word;
       background: white;
       color: #444;
-webkit-font-smoothing: antialiased;
       }
a {
  text-decoration: none;
  color:#444;
}

a:hover {
  color:#d43f57;
}

b,strong,legend{
    font-weight:bold;
 /*   color:#444;*/
}

#g{
    position:absolute;
    top:0;
    left:0;
    text-align:left;
    margin:0 6px;
    font:2em Gheop;
    text-shadow:1px 0px 1px #444, -1px 0px 1px #444;
    animation-duration: 1s;
	 animation-name: pulse;
}
#g a:hover{
  /*    color:red;*/
      color:#fff;
}
#g a.anim{
    color: #444;
    text-shadow:none;
}
#g a{
    color: #444;
    transition: color 1s linear;
}

#menu {
    padding:0px;
    position: absolute;
    margin:0;
    margin-top:2em;
    top:12px;
    bottom:10px;
    left:4px;
    width:20vw;
    overflow:auto;
    /*user-select: none;*/
    -moz-user-select: none;
    -webkit-user-select: none;

}


main {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    background: #eee;
    position: absolute;
    bottom:10px;
    margin:0;
    top: 30px;
    left:20vw;
    right: 10px;
    padding:10px;
    overflow:auto;
}

.light {
    background:#eee;
    border:#eee 1px solid;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.item1,.item0 {
    background:#fff;
    margin-bottom:10px;

    border-radius:1em;
    text-overflow: ellipsis;
    max-width:100%;
    overflow: hidden;
}
.descr img,.descr picture, .descr source,.descr pre,.descr code,.item0 pre,.item0 code, .item0 img {max-width:99% !important;}
.descr a {text-decoration:underline;text-decoration-style:dashed;}

.item0 {
  opacity:0.8;
  box-shadow: none;/*inset 0px 0px 10px #ddd;*/
}
.item0 .action {
  opacity:0.8;}
.action {
    margin:-1px;
    background:#444;
    border:1px solid #444;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    color:white;
    font: normal 100%/1.15 fontawesome;
}
.item1 {
    box-shadow: 8px 8px 12px #444;
}
.action a {
    color:white;
    cursor:pointer;
    padding-left: 10px;
}
.love { color:#ff8b8b; }
.item0 .action a {opacity:0.8}
.website:before{content:"From ";}
.nickname:before{content:" by "  ;}
.item1 .lu:before{content:"";}
.item0 .lu:before{content:"";color:#ff8b8b;}
.search:before{content:""}
.star:before{content:""}
.starred:before{content:""}
.love0:before{content:""}
.love1:before{color:red;content:""}
.print:before{content:""}
/*🏠✍  ☺ ☻ ♡ ♥   */
.headline {
    font-size: 1.2em;
    font-weight: 600;
    padding-left: 10px;
    width: 95%;
    margin: 0;
}

time {
    float:right;
    padding-right:10px;
    margin-top: -3.2em;
    font-weight: 600;
    font-size: 0.8em;

}


.author {
    font-size:0.8em;
    padding-left: 10px;
    font-style: normal;
}

.descr,.article-content{
    margin-top:10px;
    padding-left: 10px;
}

p {
    width: 100%;
    text-align:center;
}

@keyframes blink {
    0% { opacity:0.5;
        color:#eee;
        }
    50% {opacity: 0.75;
    	color:#aaa;}
    100% { opacity:1;
        color:black;
        }
}
.blink {
	transition:all 0.5s ease-in-out;
    animation: blink 1.5s linear 1;
}
.nb_flux {
	font-size: .8em;
vertical-align: super
}
.fluxnew {
    padding-left:2px;
    cursor: pointer;
    font-weight: bold;
}

.flux {
    display:none;
    opacity:1;
    transition: opacity 0.5s ease-in-out;
}

.fluxnew a, .flux a {
    text-shadow:none;
    display:none;
}

.fluxnew:hover a, .flux:hover a {
    display:inline;
    color:#444;
}
.fluxnew a:hover, .flux a:hover {
    color:#d43f57;
}

#error {
    z-index: 100;
    background: #444;
    text-align: center;
    font-weight: bold;
    color: red;
    position: absolute;
    left: 40px;
    right: 40px;
    top: 80px;
    height: 2em;
    border-radius: 1em;
}

#register {
    color: #444;
    position: absolute;
    padding: 5px;
    top: 0px;
    right: 0px;

}

.show {
    color:#fff;
    background: #eee;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    display:block;
    text-shadow:1px 0px 1px #444, -1px 0px 1px #444;
}

input, textarea,button {
    border : 1px solid black;
    color: black;
    opacity: 0.8;
    border-radius: 5px;
    background: #ffffff;
    margin:0;
    padding:0;
    z-index:99;
    height:1.7em;
}

#s{
    position:absolute;
    top:2px;
    left:38%;
    width:24%;
   border-top-right-radius:0;
   border-bottom-right-radius:0;
    position:absolute;
}

#bs {
   border-top-left-radius:0;
   border-bottom-left-radius:0;
   position:absolute;
   top:2px;
   left:62%;
   width:2em;
   border-left:none;
   background:white url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAARCAYAAADdRIy+AAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAAd0SU1FB9kCBxQkAPQ1ZpQAAAGrSURBVDjLjdRNiE5xFAbw372v14zvkEGsjLD20UghKTay1uykyEIWSpY2Stmp2dhMoWQ1USYbScrKhpKyGkVDNDaGfM21ed5ct/cOp/7dc+89/+c8z/k/9xYoUPkTu7EXm7EQM3iO+3jfp/6v6NTyJbiEY1iE13iXfB+O4BdeoAxo0Q+0yLqGCRxFt1GzChfDctR/xDncxY5ak7KW9+I8JjE8H9iagJ36R9Nek5u43FZUYicGcCv3ZQtYhTk8xFYsbgPcgGnM1jb1A+vFMwxifRtgmdOba1FR1WrhR8MhRRPwA9ZFdtlgVo9ewy34mn0a9inK+KrC4TA9EZvUZe7BweQHAvipoaKABXiVNYoHmeV1PMZbbMcmnIlHh/JuPHabCc7PurS1MfU4VmN5vozjYSdgE7iBFdlzG/u1zGlbvoaleIKnkTaEQ9iIjznhQVyNoiuYwli/wXdwEiOxU5W5vsQdPMLpzLMbT47F7NO4UPRhW9V+FgP4jO+NxiM4G6azebYMk50W+WWG/C12KRpefBO2u7AyDbuY6sxj5uYqatcCX3AvhzgcX479BrxnZh85IOwcAAAAAElFTkSuQmCC") no-repeat scroll 0.2em center;
   padding-left:22px;
   height:1.85em;
}

#bs:hover {
	transition: all 0.8s cubic-bezier(.68,-0.55,.27,1.55);
	transform: rotate(360deg);
}

.bsborder {
   border-top-left-radius:0;
   border-bottom-left-radius:0;
   border-left:none;
}

.surligne {
    border : 1px solid #444;
    border-radius:2px;
    background: #444;
    color: white;
}

article ::selection {
    background: yellow;
    color: blue;
}

footer {
    position: absolute;
    height:4px;
    bottom:0px;
    margin:0;
    left:0;
    right: 0;
    padding:0;
    overflow:auto;
}

a.liked {
  color: #d43f57;
}

.tags {
    padding-right: 10px;
    float: right;
}

@media screen and (max-width: 640px) {
#g2 {
		display: none;
	}
#menu {
	display:none;
	width:0;
}
main {
	left:0vw;
}
.some_selector { padding: 20px;
}
@media screen and (max-width: 1280px) {
#g1 {
		display: none;
	}
  .some_selector { padding: 20px;
}
